<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css">
    <script th:src="@{/js/bootstrap.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-3 ">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#profile-expertise" role="tab" aria-controls="home">Home</a>
            </div>
        </div>
        <div class="tab-content">
        <div class="tab-pane col-md-9"  role="tabpanel" id="profile-expertise" >
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Expertise Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form form action="#" th:action="@{'/auth/users/'+${id}}"  th:object="${userToEdit}" method="post" class="contact" role="form">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Which industry does the workplace/business belong to?</label>
                                    <div class="col-8">
                                        <input  name="name" th:field="*{expertiseProfile.category}" placeholder="ex.Marketing" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">First Name</label>
                                    <div class="col-8">
                                        <input id="name" name="name" th:field="*{personalProfile.firstName}" placeholder="First Name" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input id="lastname" name="lastname" th:field="*{personalProfile.lastName}" placeholder="Last Name" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="birthDay" class="col-4 col-form-label">Nick Name*</label>
                                    <div class="col-8">
                                        <input id="birthDay" th:type="datetime-local" th:field="*{personalProfile.birthYear}" placeholder="birthday" class="form-control here" required="required" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="select" class="col-4 col-form-label">Gender</label>
                                    <div class="col-8">
                                        <select id="select" name="select" th:field="*{personalProfile.sex}" class="custom-select">
                                            <option option th:each="sex: ${genders}"
                                                    th:value="${sex}"
                                                    th:text="${sex.toString()}"
                                            >Choose...
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <input id="email" name="email" th:field="*{email}" placeholder="Email" class="form-control here" required="required" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="website" class="col-4 col-form-label">Website</label>
                                    <div class="col-8">
                                        <input id="website" name="website" placeholder="website" class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                    <div class="col-8">
                                        <textarea id="publicinfo" th:field="*{personalProfile.personalReview}" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="newpass" class="col-4 col-form-label">New Password</label>-->
<!--                                    <div class="col-8">-->
<!--                                        <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label  class="col-4 col-form-label">Location</label>
                                    <div class="col-8">
                                        <input id="location.city" name="city" th:field="*{personalProfile.location.city.city}" placeholder="New Password" class="form-control here" type="text">
                                    </div>
                                    <div class="col-8">
                                        <p id="location.country" name="country" th:field="*{personalProfile.location.city.country}"  type="text">Bulgaria</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</div>